<style>

</style>

<div class="custom-section-slider-block">
  {%- assign collection = collections[section.settings.collection] -%}

  {% for product in collection.products %}
    <div class="grid__item">
        <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: 'medium-up--one-half' }}" alt="{{ product.featured_image.alt }}">
    </div>
  {% endfor %}

</div>

{% schema %}
  {
    "name": "custom-section-slider",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Custom Slider",
        "category": "Image"
      }
    ]
  }
{% endschema %}
