<style>

</style>

<div class="custom-section-slider-block">
  TEST
</div>

{% schema %}
  {
    "name": "custom-section-slider",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Custom Slider",
        "category": "Image"
      }
    ]
  }
{% endschema %}
