<style>

</style>

<div class="custom-section-bottom-info-block">

  <div class="upper-text-block">
    <div class="title">
      Want to Know More?
    </div>
    <div class="description">
      Connect and create with us.
    </div>
  </div>

  <div class="home-intro-center-line-left"></div>
  <div class="home-intro-center-line-right"></div>

  <div class="bottom-buttons-block">
    <div class="bottom-button about-button">
      <span>About the Brand</span>
    </div>
    <div class="bottom-button contact-button">
      <span>Contact us</span>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "custom-section-bottom",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
        }
    ]
  }
{% endschema %}
