<style>

</style>

<div id="home-instagram-gallery-panel" class="custom-section-instagram-gallery">

  <div class="upper-text-block">
    <div class="title">
      #CreateWithVoir
    </div>
    <div class="description">
      We are the medium. You are the canvas.
    </div>
  </div>

  <div class="home-intro-center-line-left"></div>
  <div class="home-intro-center-line-right"></div>

  <div id="instafeed" class="insta-gallery-container hidden-gallery"></div>


    <div class="bottom-gallery-button">
      <a target="_blank" href="https://www.instagram.com/voirhaircare/">
        VIEW GALLERY
      </a>
    </div>



</div>

{% schema %}
  {
    "name": "custom-section-test",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
        }
    ]
  }
{% endschema %}
