<div id="launch-page-panel" class="launch-page-main-container">
  <div id="launch-intro-panel" class="launch-intro-block">
    <div class="intro-image-container"></div>
    <div class="launch-info-container">
      <div class="title-block">
        <div class="heading">
            THE ART OF BEAUTY
        </div>
        <div class="heading">
            THE BEAUTY OF ART
        </div>
      </div>
      <div class="info-text-block">
        <div class="intro">
          Paint brushes and a perfect hair day. Join us on June 3, 2017 from 10:00am – 3:00pm at the vibrant Art Square Café & Gallery (334 Dundas Street West) for an afternoon of overflowing creativity, free products, and your best hair yet.
        </div>
        <div class="subheading">
          CREATIVITY IS CURRENCY
        </div>
        <div class="first-paragraph">
          Expressive and emotional, art is the cornerstone of our curated haircare collection—you’ll find hand-painted abstract artworks on the packaging of all four hero products. Now we’re turning the creative process over to you:
        </div>
        <div class="italic-paragraph">
          With a refreshing drink in one hand and a paintbrush in the other, you can paint an original work of art to exchange for a full-size Voir Haircare product. Your creativity becomes your currency.
        </div>
        <div class="subheading">
          HAIRSTYLING HAPPY HOUR
        </div>
        <div class="first-paragraph">
          You’ll have exclusive first access to our products. We’ll have a style bar with expert hairstylists to pamper you with free 5-minute makeovers—braids, chignons, and perfect ponytails all made possible by Voir’s premium styling essentials. There will be tons of Instagrammable and Snap-worthy moments, from our ring-light selfie wall, to gorgeous product displays and a gallery of original art.
        </div>
        <div class="subheading">
          BRING YOUR FRIENDS
        </div>
        <div class="first-paragraph">
          Bring your friends and indulge in an afternoon of luxury haircare, art, and creative self-expression. Voir products can only be purchased via our online store, so don’t miss your chance to experience the collection in person.
        </div>
        <div class="first-paragraph">
          Let us know you’re planning to attend by entering your email address below (we’ll only send you important updates about the event).
        </div>
      </div>
        <div class="subscribe-block">
          <form method="get" action="//myshopify.us15.list-manage.com/subscribe/post-json?u=ec3d8253aa5d88f3c73da2325&amp;id=fa4b23a16b&c=?" class="contact-form" id="contact-launch-form" accept-charset="UTF-8">
            <div id="email" class="input-container">
              <input type="email" value="" placeholder="Email" name="EMAIL" id="EMAIL">
            </div>
          </form>
          <button id="launch-subscription-submit-button" value="SUBMIT" class="button-submit">
            SUBMIT
          </button>

        </div>
    </div>
    <div class="footer-spacer"></div>
  </div>
</div>