<div>
  <div id="about-us-page" class="about-intro-block-container">
    <div class="intro-main-container">

      <div class="intro-info-container">
        <div class="title">
          About the Brand
        </div>
        <div class="verb">
          <span class="verb-bold">voir (vwaʁ)</span>
          <span class="verb-italic">verb.</span>
        </div>
        <div class="translate">
          French: to see
        </div>
        <div class="description">
          <span>Voir</span> is a collection of premium haircare essentials designed to inspire your beauty routine through art. We are the medium. You are the canvas.
        </div>
      </div>

    </div>
    <div class="side-line-left"></div>
    <div class="side-line-right"></div>
  </div>
  <div class="about-art-block-container">

  </div>
</div>

