<div id="launch-page-panel" class="launch-page-main-container">
  <div id="launch-intro-panel" class="launch-intro-block">
    <div class="intro-image-container">
    </div>
    <div class="launch-info-container">
      <div class="title-block">
        <div class="heading">
          Insert Heading Here
        </div>
        <div class="subheading">
          Insert subheading Here
        </div>
      </div>
      <div class="info-text-block">
        <div class="first-paragraph">
          We believe you need a moment each day to indulge yourself, to awaken your imagination and feel inspired, so we created Voir: a collection of premium haircare essentials designed to inspire your beauty routine through art. we created Voir: a collection of premium haircare essentials designed to inspire your beauty routine through art.
        </div>
        <div class="second-paragraph">
          We believe you need a moment each day to indulge yourself, to awaken your imagination and feel inspired, so we created Voir: a collection of premium haircare essentials designed to inspire your beauty routine through art.
        </div>
      </div>
    </div>
    <div class="footer-spacer"></div>
  </div>
</div>