<div id="contact-us-page" class="contact-us-main-container">
  <div id="contact-intro-panel" class="contact-intro-block">
  <div class="intro-container">
    <div class="center-info-container">
      <div class="assistance">
        Need assistance?
      </div>
      <div class="we-here">
        We’re here for you
      </div>
      <div class="add-info">
        <div class="questions">Send your questions, concerns, suggestions, or love notes via the contacts below.</div>
        <div class="second-paragraph"><span>Customer Care hours:</span> Monday to Friday | <span>9:00am - 6:00pm EST</span></div>
      </div>
    </div>
    <div class="contact-details-panel">
      <div class="detail-item">
        <div class="icon">
          <img class="mail-icon">
        </div>
        <div class="description">
          For general inquires
        </div>
        <div class="cred">
          hello@voirhaircare.com
        </div>
      </div>

      <div class="detail-item">
        <div class="icon">
          <img class="mail-icon">
        </div>
        <div class="description">
          For press inquires
        </div>
        <div class="cred">
          press@voirhaircare.com
        </div>
      </div>

    </div>
  </div>

<div class="side-line-left"></div>
<div class="side-line-right"></div>
</div>
</div>