<div id="giveaway-page-panel" class="giveaway-page-main-container">
    <div id="sample-intro-panel" class="sample-intro-block">
        <div class="intro-image-container"></div>
        <div class="headline">
            <div class="head">
                ​Studio Sessions Giveaway
            </div>
            <div class="subhead">
                ​Sign up below to enter our Studio Sessions giveaway for a chance to win a Voir Haircare Studio Set.
            </div>
        </div>
        <div class="main-container">
            <div id="mc_embed_signup">
                <form action="//voirhaircare.us16.list-manage.com/subscribe/post-json?u=a2f619ebf2c6ce998b6757251&amp;id=887dc83b12&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group mail-group">
                            <input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email" id="mce-EMAIL">
                        </div>
                        <div class="mc-field-group first-name-group">
                            <input type="text" value="" name="FNAME" placeholder="First Name" class="required" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group last-name">
                            <input type="text" value="" name="LNAME" placeholder="Last Name" class="required" id="mce-LNAME">
                        </div>
                        <div class="mc-field-group first-name-group">
                            <input type="text" value="" name="MMERGE3" placeholder="IG Handle" class="required" id="mce-MMERGE3">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a2f619ebf2c6ce998b6757251_bb2587c359" tabindex="-1" value=""></div>
                        <div class="clear"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="submit-button">Sign Up</button></div>

                        <div class="form-heading">
                            Don’t forget to complete the rest of the steps below to be eligible to win!
                            <div class="list-line">
                                1) Follow ​<a href="https://www.instagram.com/voirhaircare/">@voirhaircare</a> ​on Instagram
                            </div>
                            <div class="list-line">
                                2) Like our Studio Sessions image
                            </div>
                            <div class="list-line">
                                3) Tag two friends
                            </div>
                            <div class="list-line">
                                4) Like us on Facebook and follow us on Twitter for 2 additional entries
                            </div>
                            <div class="footnote">
                                *Must be 18+ and a Canadian resident. One submission per person. Contest ends July 27th at11:59pm EST. Winner will be announced via DM & email at noon on July 28th.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="footer-spacer"></div>
    </div>
</div>