<div id="general-faq-page" class="general-faq-main-container">
  <div class="faq-head-panel">
    <div class="left-side">
      <div class="help-info">
        <div class="service">
          Customer Service
        </div>
        <div class="looking">
          I’m looking for
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="info-menu">

        <div id="faq-menu-item" class="menu-item active">
          <a href="#faq">
            GENERAL FAQ
          </a>
        </div>

        <div id="shipping-menu-item" class="menu-item">
          <a href="#shipping">
            SHIPPING & RETURNS
          </a>
        </div>

        <div id="privacy-menu-item" class="menu-item">
          <a href="#privacy">
            PRIVACY POLICY
          </a>
        </div>

        <div id="terms-menu-item" class="menu-item">
          <a href="#terms">
            TERMS OF SERVICE
          </a>
        </div>

      </div>
      <div class="info-menu-mobile">
        <div id="faq-tab-select" class="menu-select">
          <div id="faq-tab-selected-panel"><span>GENERAL FAQ</span> - PRODUCTS</div>
          <div class="arrow-icon-container">
            <img class="down-arrow-icon">
          </div>
        </div>
        <div id="faq-tab-select-list" class="menu-select-list">
          <div id="faq-mobile-menu-list-item" class="list-item"><a href="#faq"><span>GENERAL FAQ</span> - PRODUCTS</a></div>
          <div id="faq-order-mobile-menu-list-item" class="list-item"><a href="#faq"><span>GENERAL FAQ</span> - ORDERS & PAYMENT</a></div>
          <div id="shipping-mobile-menu-list-item" class="list-item"><a href="#shipping">SHIPPING & RETURNS</a></div>
          <div id="terms-mobile-menu-list-item" class="list-item"><a href="#terms">TERMS OF SERVICE</a></div>
          <div id="privacy-mobile-menu-list-item" class="list-item"><a href="#privacy">PRIVACY POLICY</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="faq-main-container">
    <div class="left-side">
      <div class="info-select">
        <div class="select-item active">
          PRODUCTS
        </div>
        <div class="select-item">
          ORDERS & PAYMENT
        </div>
      </div>
      <div class="contacts-data">
        <div class="call">
          <div class="title">
            Give us call
          </div>
          <div class="number">
            1-888-485-5679(VOIR)
          </div>
        </div>
        <div class="mail">
          <div class="title">
            For general inquires
          </div>
          <div class="address">
            hello@voirhaircare.com
          </div>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div id="faq-info-panel" class="info-container active">
        <div class="main-title">
          PRODUCTS
        </div>

        <div class="info-item">
          <div class="title">
            Where are Voir products made?
          </div>
          <div class="description">
            All Voir Haircare products are proudly designed, developed, and manufactured in Canada.
          </div>
        </div>

        <div class="info-item">
          <div class="title">
            Are Voir products made with natural ingredients?
          </div>
          <div class="description">
            Yes! You’ll find many amazing natural ingredients such as high-grade botanicals, plant extracts, cold-pressed plant oils, exotic emollient oils, and super berries in our products.
          </div>
        </div>

        <div class="info-item">
          <div class="title">
            Do Voir products contain chemical preservatives and detergents like parabens and sulfates?
          </div>
          <div class="description">
            No! Our products do not contain silicones, parabens, phthalates, sulfates, TEA, artificial colours, mineral oil, or alcohol.
          </div>
        </div>

        <div class="info-item">
          <div class="title">
            What hair types are Voir products suitable for?
          </div>
          <div class="description">
            Our products are suitable for all hair types, including thick or fine, straight, wavy, curly, coiled, or tightly coiled. Voir products are safe to use on colour-treated and keratin-treated hair.
          </div>
        </div>

        <div class="info-item">
          <div class="title">
            Does Voir test on animals?
          </div>
          <div class="description">
            No, we do not test any of our products on animals.
          </div>
        </div>

        <div class="info-item">
          <div class="title">
            Is your packaging recyclable?
          </div>
          <div class="description">
            Yes, our packaging is completely recyclable. Kindly recycle your Voir products after you have enjoyed them down to the last drop!
          </div>
        </div>

        <div class="info-item">
          <div class="title">
            Why do you use non-aerosol packaging?
          </div>
          <div class="description">
            We made the conscious decision to not house our products in aerosol packaging as these pressurized containers use propellant chemicals and can be flammable under certain temperatures. Instead we opted for innovative non-aerosol pumps for our dry shampoo and styling foam. The pump design is highly effective: smooth, mess-free, and a pleasure to use—plus it’s travel-friendly!
          </div>
        </div>

        <div class="info-item">
          <div class="title">
            How can I find more information about a product?
          </div>
          <div class="description">
            You can learn all about our products on the individual product pages:
            <p>A WALK IN THE SUN: LUXURY HAIR OIL</p>
            <p>RHYTHM OF THE RAIN: HAIR MASQUE & SCALP DETOX</p>
            <p>SHE’S LIKE THE WIND: INVISIBLE DRY SHAMPOO & CONDITIONER</p>
            <p>SECRETS IN THE SNOW: SOFT STYLING FOAM</p>
            <p class="last-paragraph">If you have any other questions, thoughts, or feedback, let us know by emailing <span class="mail">hello@voirhaircare.com</span> We’d love to hear from you!</p>
          </div>
        </div>

        <div class="info-item">
          <div class="title">
            Can I sell Voir products on my own website?
          </div>
          <div class="description">
            Unfortunately, your purchase of Voir products is only for your personal use. By purchasing Voir products, you agree to not resell or distribute Voir products for any commercial purchases. We may decline or cancel an order if we have reason to believe that your order is not for your personal use
          </div>
        </div>

      </div>
      <div id="shipping-info-panel" class="info-container">
        <div class="main-title">
          SHIPPING & RETURNS
        </div>
      </div>
      <div id="privacy-info-panel" class="info-container">
        <div class="main-title">
          PRIVACY POLICY
        </div>
        <div class="info-item">
          <div class="description">
            Thank you for visiting <span class="mail">www.voirhaircare.com</span> The domain name <span class="mail">www.voirhaircare.com</span>
            (also referred to as “Website” in this document) is owned and operated by Voir Haircare. We value your trust in our products and services, and therefore, aim to ensure utmost confidentiality and protection of your information. In order to ensure this, we have drafted this Privacy Policy that describes what type of information does Voir Haircare (also referred to as “Company” and “We”) collects from our users, as well as our information storage, utilisation, protection, and distribution practices.
            <p class="last-paragraph">We will not collect, use, share, or disclose the personal or financial information you choose to share with us while visiting our Website or ordering our products other than in compliance with this Privacy Policy. Please be informed that your access and use of this Website constitute your understanding and agreement to the terms enumerated in this Privacy Policy. Therefore, if you do not consent any of the terms mentioned herein, please do not use the Website.</p>
          </div>
        </div>
        <div class="info-item">
          <div class="title">
            1. What Type of Information Do We Collect?
          </div>
          <div class="description">
            The information collected by Voir Haircare can be categorised into two types: personally identifiable information and personally non-identifiable information.
            <p class="last-paragraph">- Personally Identifiable Information — This type of information refers to data that is related to a specific information, such as their name, contact details, etc. While you may visit and browse our Website without submitting any personally identifiable information, in order to place an order, you will be required to submit your personally identifiable information which includes, but is not limited to, your name, your contact details, and payment details.</p>
            <p class="last-paragraph">- Personally Non-Identifiable Information — Voir Haircare may also collect your personally non-identifiable information during your visit of our Website. Also referred to as Anonymous Information, personally non-identifiable information is collected through the use of cookies, web beacons, server logs, and web files. Examples of personally non-identifiable information collected using these means include, but are not limited to, the IP address you used to visit our Website, the type of browser you use, the pages you accessed, and more. The purpose of collecting this type of information is to offer you improved and more personalised experience of our Website.</p>
          </div>
        </div>
        <div id="privacy-add-info" class="add-info-container">
          <div class="info-item">
            <div class="title">
              2. How Do We Use Your Personally Identifiable Information?
            </div>
            <div class="description">
              Voir Haircare uses the personally identifiable information collected through our Website primarily for the following purposes:
              <p>-	To fulfill registration requests made by users</p>
              <p>-	To process online orders placed by users</p>
              <p>-	To provide information regarding our products to our users</p>
              <p>-	To improve our Website’s user experience, including tailoring it to the preferences of an individual user</p>
              <p>-	To provide you information regarding our new products and promotional offers</p>
              <p>-	To respond to your queries, comments, and feedback</p>
            </div>
          </div>
          <div class="info-item">
            <div class="title">
              3. How Do We Use Personally Non-Identifiable Information?
            </div>
            <div class="description">
              The sole purpose of collecting personally non-identifiable information is to offer you an improved experience of our Website. Voir Haircare may use your personally non-identifiable information collected using cookies, web beacons, and other technologies to provide you with a personalised experience of our Website. In addition to this, we may also use the aggregate data of our users, such as the average age of our visitors, the proportion of males and females visiting our Website, or the type of browser used by majority of our visitors, for analytical purposes.
            </div>
          </div>
          <div class="info-item">
            <div class="title">
              4. How Do We Collect Personally Identifiable and Non-Identifiable Information?
            </div>
            <div class="description">
              While personally identifiable information is provided by the user knowingly while placing an order for our products or registering as a subscribed user, Voir Haircare collects anonymous information using the following technologies.

              <p class="last-paragraph">-	Cookies — The term ‘Cookies’ refers to the small files sent by Voir’s web server to your web browser. These cookies are stored in your computer so that when on your revisit of our Website, you are identified immediately as a repeat visitor and provided with a personalised experience.</p>
              <p>- Web Beacons — We use web beacons in conjunction with cookies to provide you with a personalised experience of our Website. These are small pieces of codes that are embedded in the Website in order to determine which pages of the Website are visited most frequently by the users.</p>
            </div>
          </div>
          <div class="info-item">
            <div class="title">
              5. What Type of Information Do We Disclose to Third Parties?
            </div>
            <div class="description">
              Voir Haircare will not share your information third parties except when:
              <p>-	We are required to provide your contact details and other information to courier companies and other third parties to process and deliver your order.</p>
              <p>-	You have ‘opted in’ to receive promotional messages from Voir Haircare and our subsidiaries</p>
              <p>-	We are required to do so to defend the interest of the Company or our employees.</p>
              <p>-	We are required to do so to fulfill the regulatory requirements.</p>
              <p>-	We are required to do so to complete a business transaction that requires transfer of Company’s assets to a third party, such as during a merger or acquisition.</p>
            </div>
          </div>
          <div class="info-item">
            <div class="title">
              6. How Do We Protect Your Information?
            </div>
            <div class="description">
              Voir Haircare values your trust and aims to ensure the confidentiality and security of your personally identifiable information using all reasonable measures. While we use the latest technologies to protect your information, no security measures can be labelled as foolproof. Therefore, we do not guarantee 100 percent confidentiality and security of your information.
            </div>
          </div>
          <div class="info-item">
            <div class="title">
              7. How Can You Modify or Delete Your Personally Identifiable Information Kept by Us?
            </div>
            <div class="description">
              If you want to delete or modify the information kept by Voir Haircare, you can send us a request at <span><</span>insert email address<span>></span>.
            </div>
          </div>
          <div class="info-item">
            <div class="title">
              8. Does This Privacy Policy Apply to Third Party Websites?
            </div>
            <div class="description">
              The Website may contain links to third party websites. Please be informed that these third party websites have their own unique data collection, storage, and usage policies. Since this privacy policy does not apply to these third party websites, we recommend you to thoroughly read the privacy policy of these websites before submitting your personally identifiable information.
              <p class="last-paragraph">If you any questions or comments regarding this Privacy Policy, you can contact us at <span><</span>insert email address<span>></span>.</p>
            </div>
          </div>
        </div>
        <div id="privacy-view-more" class="view-more">
          VIEW MORE
        </div>
        <div id="privacy-view-less" class="view-more hidden">
          VIEW LESS
        </div>
      </div>
      <div id="terms-info-panel" class="info-container">
        <div class="main-title">
          TERMS OF SERVICE
        </div>
      </div>
      <div class="footer-mockup-row"></div>
    </div>
  </div>
</div>