<div>
  <div id="about-us-page"           class="about-intro-block-container">
    <div class="intro-main-container">

      <div class="intro-info-container">
        <div class="title">
          About the Brand
        </div>
        <div class="verb">
          <span class="verb-bold">voir (vwaʁ)</span>
          <span class="verb-italic">verb.</span>
        </div>
        <div class="translate">
          French: to see
        </div>
        <div class="description">
          <span>Voir</span> is a collection of premium haircare essentials designed to inspire your beauty routine through art. We are the medium. You are the canvas.
        </div>
      </div>

    </div>
    <div class="side-line-left"></div>
    <div class="side-line-right"></div>
  </div>
  <div id="about-art-nature-panel"  class="about-art-nature-container">
    <div id="about-art-panel"         class="about-art-block-container active-slide">
      <div class="art-block-info">
        <div class="title">
          Inspiration
        </div>
        <div class="info">
          Art is the cornerstone of our creations. Expressive and emotional, art awakens the imagination and helps you seek perspective. Inspired by our Canadian roots, the country’s ever-changing seasons serve as the artistic backdrop for our products: the warm glow of the sun, a cleansing rain, the caress of the wind, the cool touch of first snow.
        </div>
      </div>
      <div class="side-line-right"></div>
    </div>
    <div id="about-nature-panel"      class="about-nature-block-container">
      <div class="nature-block-info">
        <div class="title">
          Packaging
        </div>
        <div class="info">
          We treat our packaging with the same care and attention to detail as the products within them. Embodying the elements of weather, each nature-inspired packaging design is painted in-house on artist canvases and then digitally rendered onto our labels. From brilliant colour palettes to freewheeling brush strokes, each paint technique is a reflection of the product’s accompanying weather theme and the luxurious formula inside.
        </div>
      </div>
      <div class="side-line-left"></div>
    </div>
  </div>
  <div id="about-image-panel"       class="about-image-block-container">
    <div class="image-container">
      <img src="{{ 'about_image.jpg' | asset_url }}">
    </div>
  </div>
  <div id="about-ingredients-panel" class="about-ingredients-block-container">
    <div class="ingr-block-background"></div>
    <div class="ingr-block-info">
      <div class="title">
        Ingredients
      </div>
      <div class="info">
        <div class="first-row">
          Respecting nature is integral to our ethos. We thoughtfully source the best ingredients—many of which are derived from natural and renewable resources—that instantly transform the look and feel of your hair.
        </div>
        <div class="second-row">
          <div class="left-side">
            <span>Our products are created with:</span>
            <p>natural ingredients, high-grade botanicals, cold-pressed plant oils, plant extracts, exotic emollient oils, super berries, user-friendly recyclable packaging.</p>
          </div>
          <div class="right-side">
            <span>Our products are created WITHOUT:</span>
            <p>silicones, parabens, phthalates, sulfates, TEA, artificial colors, mineral oil, alcohol, animal testing.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="side-line-right"></div>
  </div>
  <div id="about-packaging-panel"   class="about-packaging-block-container">
    <div class="packaging-image">
      <img src="{{ 'image_package.jpg' | asset_url }}">
    </div>
    <div class="packaging-block-info">
      <div class="title">
        Made In Canada
      </div>
      <div class="info">
        From concept to creation, every step of our product development process takes place in Canada. We take pride in our country and make it a priority to support local industry and initiatives. Local production also means we can maintain a hands-on approach and unparalleled quality control throughout all stages of production. Our goal is to foster a sense of closeness and community while creating the most exciting, most effective products for you: our customers.
      </div>
    </div>

  </div>
</div>

